@import "tailwindcss";

/* Esta línea mágica habilita el Modo Oscuro manual con el botón */
@custom-variant dark (&:is(.dark *));

/* Evitar scrollbars feos en la TV */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}